<div
  class="alert alert-primary alert-dismissible fade show"
  style="display: block"
  role="alert"
>
  <!-- <button type="button" class="close fa fa-close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
  <p><i class="fa fa-check-circle"></i><%= message %></p>
</div>
